h1 {
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  width: 500px;
  height: 500px;
  border: solid black;
  border-radius: 4px;
  box-shadow: 3px 3px rgb(181, 181, 181);
}

button {
  width: 70px;
  height: 30px;
  border: solid rgb(132, 132, 132);
  border-radius: 4px;
  background-color: rgb(232, 232, 232);
  color: black;
}

button.active {
  background-color: rgb(246, 246, 48);
}
